.ka{
    width:400px;
}
body{
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}
.l{
    color: #fff;
}
.lk{
    background-color: #fff;
}
hg{
    
}